# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary files
*.log
*.txt
*.BAK

# Temporary files for MSVS
*.suo
*.sdf
*.opensdf

# Temporary folders for MSVS
Debug/
ipch/

# Temporary folders
s3/

# Files depending on server
compile_server/id.yaml
web_frontend/id.yaml
web_frontend/id2.yaml
