<html><head><link href="/ccf.css" rel="stylesheet" type="text/css"></head><body><p class="show-header">Compiled.</p><p class="show-note">compilation result:</p><pre class="show-output">{$compile->{output}}</pre>{$OUT=exists $compile->{error}?'<pre class="show-error">'.$compile->{error}.'</pre>':$execute?'':'<pre class="show-success">CCF: compilation succeeded.</pre>';}</body></html>
