<html><head><link href="/ccf.css" rel="stylesheet" type="text/css"></head><body><p class="show-header">Compiled.</p><p class="show-note">compilation result:</p><pre class="show-output">{$compile->{output}}</pre><pre class="show-error">{$compile->{error}}</pre></body></html>