<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/ccf.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<title>C++ Compiler Farm - Compile stats</title>
</head>
<body>
<div id="header">
<img src="/ccf.png" alt="C++ Compiler Farm" title="C++ Compiler Farm" />
<p id="owner-notice">ownered by <a href="http://twitter.com/yak_ex">@yak_ex</a></p>
<p id="menu">
<a href="/ccf.html"><img src="/home.png" alt="Home" title="Home" /></a>
<a href="/results/"><img src="/recent.png" alt="Recent" title="Recent" /></a>
<a href="/FAQ.html"><img src="/FAQ.png" alt="FAQ" title="FAQ" /></a>
</p>
</div>
<h1>Compile stats</h1>
<ul>
{
	foreach my $key (sort keys %{$stats}) {
		$OUT .= '<li>'.$key.': '.$stats->{$key}."<br>\n";
	}
}
</ul>
</body>
</html>
