<html><head><link href="/ccf.css" rel="stylesheet" type="text/css"></head><body><p class="show-header">Executed.</p><p class="show-note">compilation result:</p><pre class="show-output">{$compile->{output}}</pre><pre class="show-error">{$compile->{error}}</pre><p class="show-note">execution result:</p><pre class="show-output">{$execute->{output}}</pre>{$OUT=exists $execute->{error}?'<pre class="show-error">'.$execute->{error}.'</pre>':'<pre class="show-success">CCF: execution succeeded.</pre>';}</body></html>
