<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/import/jquery.powertip.css" rel="stylesheet" type="text/css">
<link href="/ccf.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/import/jquery.powertip-1.1.0.min.js" type="text/javascript"></script>
<title>C++ Compiler Farm - Recent {scalar @$keys} requests from ID: {$keys->[0][0]}</title>
</head>
<body>
<div id="header">
<img src="/ccf.png" alt="C++ Compiler Farm" title="C++ Compiler Farm" />
<p id="owner-notice">ownered by <a href="http://twitter.com/yak_ex">@yak_ex</a></p>
<p id="menu">
<a href="/ccf.html"><img src="/home.png" alt="Home" title="Home" /></a>
<a href="/results/"><img src="/recent.png" alt="Recent" title="Recent" /></a>
<a href="/FAQ.html"><img src="/FAQ.png" alt="FAQ" title="FAQ" /></a>
</p>
</div>
<h1>Recent {scalar @$keys} requests from ID: {$keys->[0][0]}</h1>
<ul>
{
	foreach my $key (@$keys) {
		$OUT .= '<li class="item" id="item-'.$key->[0].'"><a href="/result/'.$key->[0].'">Request: '.$key->[0].'</a>&nbsp;&nbsp;('.$key->[1].') '.$key->[2]{title}.' ['.(1+$key->[2]{source} =~ s/\n(?!$)/\n/g).' lines] '.join(' / ', keys %{$key->[2]{keys}}).'<br>';
	}
}
</ul>
{
	if($from < $max_id) {
		$OUT = '<a href="/results/'.($from+$number).'/'.$number.'">Previous '.$number.' requests</a>';
	}
}
{
	if($from >= $number) {
		$OUT = '<a href="/results/'.($from-$number).'/'.$number.'">Next '.$number.' requests</a>';
	}
}
</body>
<script type="text/javascript">
$(function() \{
{
	foreach my $key (@$keys) {
		my $str = $key->[2]{source};
		$str =~ s/\n/<br>/g;
		$str =~ s/'/\\'/g;
		$OUT .= "\t\$('#item-".$key->[0]."').data('powertip', '".$str."');\n";
	}
}
	$('.item').powerTip(\{placement:'s',mouseOnToPopup:true\})
\})
</script>
</html>
